@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @RenderSection("Scripts", false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">alexlogan.io</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                    <li><a asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> About</a></li>
                    <li><a asp-controller="Projects" asp-action="Index"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Projects</a></li>
                    <li><a asp-controller="Home" asp-action="Contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div>
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; Alex Logan 2017</p>
        </div>
    </footer>
</body>
</html>
