<div class="jumbotron">
    <h1 style="margin-left: 5px;">Welcome to alexlogan.io</h1>
</div>
<div class="col-md-12">
    <div class="col-md-4 profileImg">
        <img src="~/img/profile.jpg" class="img-circle" alt="profile" width="250" height="250">
        <h3>Find out more about me.</h3>
        <a class="btn btn-default btn-block" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> About</a>
    </div>
    <div class="col-md-4 profileImg">
        <img src="~/img/working.png" class="img-circle" alt="working" width="250" height="250">
        <h3>See what I've been up to.</h3>
        <a class="btn btn-default btn-block" asp-controller="Projects" asp-action="Index"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Projects</a>
    </div>
    <div class="col-md-4 profileImg">
        <img src="~/img/phone.jpg" class="img-circle" alt="phone" width="250" height="250">
        <h3>Get in touch with me.</h3>
        <a class="btn btn-default btn-block" asp-controller="Home" asp-action="Contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact</a>
    </div>
</div>
<br>
